{% extends "base.html" %}
{% block content %}
<div class="container-fluid" id="note">
    <h1 class="title text-center pt-3">{{frontmatter['title']}}</h1>
    <hr>
    <div class="row">
        <!-- Notebook Sidenav -->
        <div class="col-lg-2 d-none d-lg-block">
            <nav class="sidenav">
                {% set parent = request.path.split('/')[:-1] | join('/') %}
                <div class="row no-gutters">
                    <div class="col-9">
                        <p>{{frontmatter['title']}}</p>
                        <ul class="no-list-style pl-2">
                            {% for sibling_url, sibling in get_subpages(request.path).items() %}
                            <li class='pb-3'><a href="{{parse_url(sibling_url)}}">{{sibling['title']}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-2 offset-1">
                        <a href="{{parse_url(parent)}}" role="button">
                            <img src="https://img.icons8.com/dotty/80/000000/up.png" style="width: 25px; height: 25px">
                        </a>
                    </div>
                </div>

            </nav>
        </div>

        <!-- Content -->
        <div class="col-lg-8 col-10">
            {% if exists(content_path) %}
            {% include content_path %}
            {% endif %}
        </div>

        <!-- On This Page -->
        <div class="col-2 d-none d-md-block">
            <div class="sticky-top onthispage">
                <ul id="onthispage-list" class="no-list-style">On This Page</ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}