{% extends "base.html" %}
{% include 'header.html' %}
{% block content %}
<div class="container" id="post">
    <div class="row">
        <!-- Content -->
        <div class="col-10">
            <h1 class="title">{{frontmatter['title']}}</h1>
            <small>{{frontmatter['date']}}</small>
            <blockquote class="blockquote">{{frontmatter['description']}}</blockquote>
            {% if 'image' in frontmatter %}
            <img class="mx-auto d-block" src={{frontmatter['image']}}>
            {% endif %}
            <div class="mb-3"></div>
            {% include content_path %}
        </div>

        <!-- On This Page -->
        <div class="col-2 d-none d-md-block">
        </div>
    </div>
</div>
{% endblock %}