{% extends "base.html" %}
{% block content %}
{% include 'header.html' %}
<div class="container" id="post">
    <!-- Content -->
    <h1 class="title">{{frontmatter['title']}}</h1>
    <small>{{frontmatter['date']}}</small>
    {% if 'image' in frontmatter %}
    <img class="mx-auto d-block" src={{frontmatter['image']}}>
    {% endif %}
    <p class="description">{{frontmatter['description']}}</p>
    <hr>
    <hr>
    <div class="mb-3"></div>
    {% include content_path %}
    <!-- On This Page -->
</div>
{% endblock %}