{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
<main class="container">
  <header>
    <h3>Notebooks:</h3>
    {% set maxdepth = 2 %}
    <ul style="list-style: none; padding-left: 0;">
      {% for subpage in page.subpages recursive %}
      <li>
        <a href="{{ url_for(subpage['url']) }}">{{subpage['title']}}</a>
        {% if subpage.has_subpages and loop.depth < maxdepth %}
        <ul>{{ loop(subpage.subpages) }}</ul>
        {% endif %}
      </li>

      {% endfor %}
    </ul>
  </header>
</main>
{% endblock %}